body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.table-container {
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.customer-table {
    width: 100%;
    border-collapse: collapse;
}

.customer-table th, .customer-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.customer-table th {
    background-color: #4CAF50;
    color: white;
}

.customer-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.customer-table tr:hover {
    background-color: #ddd;
}


.search-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

/* Style for the search input */
#searchInput {
    width: 300px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: border 0.3s ease-in-out;
}

/* Change border color on focus */
#searchInput:focus {
    border-color: #007bff;
    outline: none;
}