<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Invoice</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/storage.css' %}">
    <style>
        .add-btn {
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        
        .add-btn:hover {
            background-color: #0056b3;
        }
        
    </style>
</head>
<body>
    <div class="table-container">
        <h2>खाता मालिक {{ customer.username }}</h2>
        <p><strong>ठेगाना:</strong> {{ customer.address }}</p>
        <p><strong>फोन:</strong> {{ customer.phone }}</p>
        <p><strong>मिति:</strong> {{ customer.created_at|date:"Y-m-d" }}</p>

        <h3>Items</h3>
        <table class="customer-table">
            <thead>
                <tr>
                    <th>मिति</th>
                    <th>नाम</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>कुल</th>
                    <th>देको रकम</th>
                    <th>बाकी रकम</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.date|date:"Y-m-d" }}</td>
                    <td>{{ item.medicine }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.amount }}</td>
                    <td>{{ item.paid_amount }}</td>
                    <td>{{ item.remaining_amount|floatformat:2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div style="display: flex; justify-content: flex-end; margin-top: 20px;">
            <!-- Add New Customer Button Aligned to the Right -->
            <button onclick="window.location.href='{% url 'home' %}'" class="add-btn">+ Add New Customer</button>
        </div>

        <h3>Total Summary</h3>
        <div class="total-summary">
            <p>कुल: <span>{{ total_amount }}</span></p>
            <p>देको रकम: <span>{{ total_paid_amount }}</span></p>
            <p>बाकी रकम: <span>{{ remaining_amount }}</span></p>
        </div>
    </div>
</body>
</html>
